#root {
  /* max-width: 1280px; */
  width: 100%;
  padding: 2rem;
  text-align: center;
  /* background-color: #f8f8f8; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main.MuiGrid-container{
  width: 100%;
}

@font-face {
  font-family: "lato";
  src: url(assets/fonts/Lato/Lato-Light.ttf);
}

.button-table-sort{
  display: block;
  margin: 0 auto;
}

.custom-form-element-error-message{
  margin-top: 3px!important;
  color: #cc0033;
  font-size: 0.85em!important;
  font-weight: bold;
  border: 1px solid #fcc2c3;
  background-color: #fce4e4;
  padding: 20px 30px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}

.hidden{
  display: none;
}

.display{
  display: block;
}