#installations-table-container {
  background: rgb(255, 255, 253);
  padding: 30px;
  border-radius: px;
}

#table-header {
  background-color: #1976d2;
  color: white;
}

#table-header th,
#table-header button {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

#table-header button:hover {
  color: grey;
}

#installations-container {
  margin-top: 10px;
}

.main .MuiGrid-root .MuiGrid-item {
  margin: 0 auto;
}

.danger {
  color: rgb(190, 13, 13);
  font-weight: bold;
}

button.custom-button:hover {
  background: rgba(2, 97, 250, 0.4) !important;
}

.description-text{
  font-size: 0.9em;
}